# -*- shell-script -*- for emacs
include ChangeLog.html
include LICENSE
include Makefile
include MANIFEST.in
include README
include VERSION

include *.kml
include *.png
include *.txt

recursive-include ais_areanotice *.py
recursive-include test *.py

